body {
    margin: 0;
    font-family: 'Robot';

}
header {
    width: 100%;
    height: 30px; 
    background-color: purple;
    display: flex;
}

.imgHeader {
    height: 30px; 
    width: 30px;
}

.textHeader {
    display: flex;
    align-items: center;
    justify-content: center; 
    color: white;
    flex-grow: 1; 
}
